<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="personalInfoFormGroup">
    <form [formGroup]="personalInfoFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter your name"
          formControlName="name"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input
          matInput
          placeholder="Enter your phone"
          formControlName="phone"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>LinkedIn</mat-label>
        <input
          matInput
          placeholder="LinkedIn"
          formControlName="linkedin"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Github</mat-label>
        <input
          matInput
          placeholder="Github"
          formControlName="github"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Skills</mat-label>
        <input
          matInput
          placeholder="Enter skills with ','"
          formControlName="skills"
          required
        />
      </mat-form-field>
      <div><button mat-button matStepperNext>Next</button></div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
